ul {
    list-style: none;
    margin-left: 0;
}

.successMessage {
    border: 5px solid green;
    border-radius: 10px;
    background-color: lightgreen;
    padding-left: 1rem;
    margin-bottom: 1rem;
}